= form_for @user do |f|
  #registration_form.form-horizontal
    - if @user.errors.any?
      .well.well-sm
        #error_explanation
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

    .form-group
      = f.label :email, class: "col-sm-2 control-label"
      %div.col-sm-10
        = f.text_field :email, class: "form-control"
    .form-group
      = f.label :password, class: "col-sm-2 control-label"
      %div.col-sm-10
        = f.text_field :password, class: "form-control"
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit 'Registrate', class: "btn"
